  //META{"name":"[SFW] Hentai Head","description":"hentai theme plz kill me","author":"szopjle#4172","version":"1.0"}*//{}
@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css);
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');

:root {
    --background-image: url(https://cdn.discordapp.com/attachments/701846917117771878/819272734311186524/wp4920554.png);
    --friends-icon: url(https://steamuserimages-a.akamaihd.net/ugc/966474717666905922/F880514A13BA75BA2B3D6B4FF67A16B7DEFA7A3D/);
    --friends-icon-position: center center;
    --friends-icon-zoom: 150%;
    --main-color: rgb(184, 8, 64);
    --main-transparency: rgba(8, 0, 18, 0.831);
    --channel-hover-text-color: rgb(170,0,255);
    --scroll-bar-color: #8439c67c;
    --link-colour: #e32fe6;
    --unread-text-color: #ff0066;
    --selected-text-voice-color: rgb(254, 75, 182);
    --rs-small-spacing: 1px;
    --rs-large-spacing: 2px;
    --rs-width: 2px;
    --rs-avatar-shape: 42.0%;
    --rs-online-color: #09ff00;
    --rs-idle-color: #f87c08;
    --rs-dnd-color: #fd0000;
    --rs-offline-color: #242525;
    --rs-streaming-color: #723bcf;
    --rs-invisible-color: #8b8b8b;
      --header-primary : rgb(255, 99, 255);
    --header-secondary: #d15fda;
    --text-normal: #dcddde;
    --text-muted: #a840bb;
    --text-link: #f400ec;
    --channels-default: #f6c8ff;
    --interactive-normal: #74556e;
    --interactive-hover: #b252bf;
    --interactive-active: rgb(186, 82, 174);
    --interactive-muted: #6a3c5d;
    --background-primary: #633f63;
    --background-secondary: #6f007e44;
    --background-secondary-alt: #2601229a;
    --background-tertiary: #000000;
    --background-accent: #4a0e4d;
    --background-floating: #1d0113;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(255, 0, 183, 0.111);
    --background-modifier-active: rgba(255, 0, 234, 0.2);
    --background-modifier-selected: rgba(255, 0, 242, 0.282);
    --background-modifier-accent: rgba(247, 0, 255, 0.06);
    --background-mentioned: rgba(250, 26, 220, 0.05);
    --background-mentioned-hover: rgba(213, 26, 250, 0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250, 26, 201, 0.1);
    --background-help-info: rgba(244, 0, 244, 0.1);
    --scrollbar-thin-thumb: var(--scrollbar-colour);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--scrollbar-colour);
    --scrollbar-auto-track: var(--scrollbar-colour);
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
    --elevation-stroke: 0 0 0 1px rgba(104, 29, 73, 0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #f400f46d;
    --radio-group-dot-foreground: #e18ecc;
    --guild-header-text-shadow: 0 1px 1px rgb(255, 0, 204);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --info-warning-foreground: #fa1ad5;
}